<h1>StaticPages#login</h1>
<p>Find me in app/views/static_pages/login.html.erb</p>

<p>
  This is the home page for the
  <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>

